# Ignorer les fichiers compilés
/dist/

# Ignorer les dépendances
/node_modules/

# Ignorer les fichiers temporaires npm
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers spécifiques à l'IDE
*.log
*.tmp
*.swp
*.swo
